@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
* {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
  position: relative;
}

body {
  font-size: 100%;
  line-height: 1;
  font-family: "Ubuntu";
  color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
  touch-action: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.gradient-01 {
  background-image: linear-gradient(270deg, hsl(295, 76%, 51%) 0%, hsl(284, 70%, 73%) 26%, hsl(257, 70%, 86%) 39%, hsl(202, 92%, 90%) 50%, hsl(215, 77%, 81%) 61%, hsl(221, 73%, 70%) 74%, hsl(220, 76%, 51%) 100%);
  filter: blur(125px);
}

.gradient-0 {
  background-image: linear-gradient(97.86deg, #a509ff 0%, #34acc7 53.65%, #a134c7 100%);
  filter: blur(130px);
}

.gradient-02 {
  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-03 {
  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 504px;
  height: 1236.81px;
  left: 30%;
  top: 10%;
  z-index: 0;
  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;
  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: #65c4fa;
  filter: blur(150px);
}

.btn {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.5);
  animation: transform 5s ease;
}
.btn-active:hover {
  background-color: rgba(1, 1, 1, 0.7);
  transform: scale(101%);
}
.btn-nonactive {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
.btn-nonactive:hover {
  background: rgba(1, 1, 1, 0.7);
}
.btn-delete {
  background-color: red;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-delete:hover {
  background-color: darkred;
}
.btn-logout {
  background-color: #a509ff;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-logout:hover {
  background-color: #7d0bc0;
}

.form-item {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}
.form-item__title {
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 1170px) {
  .form-item__title {
    font-size: calc(12px + 2 * ((100vw - 320px) / 850));
  }
}
.form-item__input {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  caret-color: white;
  background-color: transparent;
}
.form-item__input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.form-item__input:active {
  background-color: transparent;
}
.form-item__select {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.4rem;
  padding: 0.2rem 0.3rem;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  caret-color: white;
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}
.form-item__select-value {
  font-size: 1rem;
  position: absolute;
  bottom: 0.2rem;
  left: 0.3rem;
}
.form-item__option-wrapper {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  background-color: rgba(1, 1, 1, 0.8);
  max-height: calc(500px + -300 * ((100vw - 320px) / 1120));
  overflow: auto;
  position: absolute;
  top: 20px;
  left: 0;
}
.form-item__option-inner {
  display: grid;
  overflow: hidden;
}
.form-item__option {
  padding-top: 1rem;
}
.form-item__option.option-active {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}
.form-item__option:hover {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}
.form-item__radio {
  display: flex;
  gap: 1.5rem;
  padding-top: 0.5rem;
}
.form-item__radio input[type=radio] {
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.form-item__radio input[type=radio]:checked {
  background: white;
}

.arrow {
  position: relative;
  left: 92%;
  bottom: 8px;
  width: 10px;
  height: 10px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform: rotate(225deg);
  cursor: pointer;
}
.arrow.open {
  transform: rotate(45deg);
  bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  text-align: left;
  padding: 0.5rem;
  border: none;
  background-color: #a509ff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1170px) {
  table th {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }
}
table tr {
  background-color: white;
}
table tr:hover {
  background-color: coral;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(even):hover {
  background-color: coral;
}
table td {
  text-align: left;
  vertical-align: center;
  border: none;
  padding: 0.5rem;
  font-weight: 400;
  color: #1A232E;
  font-size: 18px;
}
@media (max-width: 1170px) {
  table td {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }
}

.page {
  width: 100%;
  background-color: #1A232E;
  overflow: hidden;
}

.fullscreen {
  width: 100vw;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.typingText {
  z-index: 5;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(199, 199, 199, 0.5);
}

.TitleText {
  font-weight: 700;
  z-index: 5;
  position: relative;
  font-size: 64px;
  line-height: 81px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  max-width: 885px;
}
@media (max-width: 1170px) {
  .TitleText {
    font-size: calc(36px + 28 * ((100vw - 320px) / 850));
  }
}

.hide {
  display: none !important;
}

.form {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.form__container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 25px;
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 1170px) {
  .form__container {
    gap: calc(10px + 15 * ((100vw - 320px) / 850));
  }
}
@media (max-width: 1170px) {
  .form__container {
    padding: calc(10px + 20 * ((100vw - 320px) / 850));
  }
}
.form__title {
  font-weight: 700;
  justify-self: center;
  font-size: 48px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (max-width: 1170px) {
  .form__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 850));
  }
}
.form__controls {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}
.form__btn {
  font-size: 18px;
  border-radius: 0;
}
@media (max-width: 1170px) {
  .form__btn {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }
}
.form__submit-btn {
  border-radius: 10px;
}
.login-form {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  margin-bottom: 0.5rem;
}
.login-form.vertical {
  grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;
}
.login-form__item {
  width: 100%;
}

.grd {
  position: absolute;
  z-index: 0;
}
.grd-1 {
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
}
.grd-2 {
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;
}
.grd-3 {
  width: 200px;
  height: 438px;
  left: 0%;
  top: 40%;
}

.dashboard__navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.dashboard__container {
  padding-top: calc(20px + 20 * ((100vw - 320px) / 1120));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
}
.dashboard__title {
  font-weight: 700;
  justify-self: center;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (max-width: 1170px) {
  .dashboard__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 850));
  }
}
.dashboard__body {
  overflow-x: auto;
}
.navbar__row {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.navbar__username {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media (max-width: 1170px) {
  .navbar__username {
    font-size: calc(18px + 10 * ((100vw - 320px) / 850));
  }
}

.scale-up-ver-top {
  animation: scale-up-ver-top 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.moving-left {
  animation: moving-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes moving-left {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
.moving-right {
  animation: moving-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes moving-right {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0px);
  }
}