.btn {
   width: 100%;
   font-weight: bold;
   text-transform: uppercase;
   padding: 1rem 1.5rem;
   color: white;
   border-radius: 10px;
   background-color: rgba(1, 1, 1, 0.5);
   animation: transform 5s ease;
   // mix-blend-mode: multiply;

   &-active {
      &:hover {
         background-color: rgba(1, 1, 1, 0.7);
         transform: scale(101%);
      }
   }

   &-nonactive {
      background: linear-gradient(-90deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%);

      &:hover {
         background: rgba(1, 1, 1, 0.7);
      }
   }

   &-delete {
      background-color: red;
      padding: 0.5rem;
      width: fit-content;

      &:hover {
         background-color: darkred;
      }
   }

   &-logout {
      background-color: #a509ff;
      padding: 0.5rem;
      width: fit-content;

      &:hover {
         background-color: #7d0bc0;
      }
   }
}

.form-item {
   width: 100%;
   display: grid;
   gap: 0.5rem;
   // .form-item__title

   &__title {
      @include adaptiveValue('font-size', 14, 12, 1);
      font-weight: 300;
   }

   // .form-item__body

   &__body {}

   // .form-item__input

   &__input {
      font-size: 1rem;
      padding: 0.2rem 0.3rem;
      width: 100%;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: white;
      caret-color: white;
      background-color: transparent;
      // background: linear-gradient(360deg,
      //       rgba(255, 255, 255, 0.05) 0%,
      //       rgba(255, 255, 255, 0) 100%);

      &:focus {
         border-bottom: 1px solid rgba(255, 255, 255, 1);
      }

      &:active {
         background-color: transparent;
      }

      // &:user-invalid {
      //    border-bottom: 1px solid rgba(255, 0, 0, 1);
      // }
   }

   // .form-item__select

   &__select {
      position: relative;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 0.4rem;
      padding: 0.2rem 0.3rem;
      width: 100%;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: white;
      caret-color: white;
      background: linear-gradient(360deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0) 100%);

      &-value {
         font-size: 1rem;
         position: absolute;
         bottom: 0.2rem;
         left: 0.3rem;
      }
   }

   &__option-wrapper {
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem 0.5rem;
      border-radius: 8px;
      background-color: rgba(1, 1, 1, 0.8);
      @include adaptiveValue('max-height', 200, 500, 0);
      overflow: auto;
      position: absolute;
      top: 20px;
      left: 0;
   }

   &__option-inner {
      display: grid;
      overflow: hidden;
   }

   &__option {
      // border-bottom: thin solid white;
      padding-top: 1rem;

      &.option-active {
         background: linear-gradient(-90deg,
               rgba(255, 255, 255, 0.3) 0%,
               rgba(255, 255, 255, 0) 100%);
      }

      &:hover {
         background: linear-gradient(-90deg,
               rgba(255, 255, 255, 0.3) 0%,
               rgba(255, 255, 255, 0) 100%);
      }
   }

   // .form-item__radio

   &__radio {
      display: flex;
      gap: 1.5rem;
      padding-top: 0.5rem;

      & input[type="radio"] {
         background: none;
         appearance: none;
         border: 1px solid white;
         width: 8px;
         height: 8px;
         border-radius: 50%;
      }

      & input[type="radio"]:checked {
         background: white;
         ;
      }
   }
}

.arrow {
   position: relative;
   left: 92%;
   bottom: 8px;
   width: 10px;
   height: 10px;
   border-top: 1px solid white;
   border-left: 1px solid white;
   transform: rotate(225deg);
   cursor: pointer;

   &.open {
      transform: rotate(45deg);
      bottom: 5px;
   }
}

table {
   width: 100%;
   // border: 1px solid white;
   border-collapse: collapse;

   th {
      text-align: left;
      padding: 0.5rem;
      border: none;
      // border-bottom: 1px solid #ddd;
      background-color: #a509ff;
      font-weight: 600;
      text-transform: uppercase;
      @include adaptiveValue('font-size', 20, 16, 1);
      color: #FFFFFF;
   }


   tr {
      background-color: white;

      &:hover {
         background-color: coral;
      }

      &:nth-child(even) {
         background-color: #f2f2f2;

         &:hover {
            background-color: coral;
         }
      }
   }

   td {
      text-align: left;
      vertical-align: center;
      border: none;
      padding: 0.5rem;
      // border-bottom: 1px solid #ddd;
      font-weight: 400;
      color: #1A232E;
      @include adaptiveValue('font-size', 18, 14, 1);
   }
}